# Відомі файли та папки, які можна виключити

## Всі файли, що знаходяться в папці bin та obj (вихідний код компіляції)
bin/
obj/

## Всі файли резервних копій, створених Visual Studio
*.bak
*.bak.*
*~
\#*\#
*.vspscc

## Файли тимчасового зберігання, створені Visual Studio Code
.vscode/

# Відомі файли, які можуть бути включені

## Конфігураційні файли Visual Studio
.vsconfig

## Відомі файли решітки NuGet
packages/
*.nupkg

# Рекомендовані файли, які можуть бути включені

## Збережені налаштування для Visual Studio
*.suo
*.user
*.suo

## Каталог компіляції Roslyn
roslyn/
*.vsidx
